			

			.toptitle-text {
				background-color: blue;
				color: white;
				font-family: 'Cinzel',sans-serif;
				font-size: small;
			}
	
			.weatherDisplay {

				font-family: 'Arimo',sans-serif;
				font-size: medium;
			}

			.fidsDisplay {
				font-family: 'Arimo',sans-serif;
	                        font-size: x-small;

			}

			.airportTitle {
				font-family: 'Inconsolata',sans-serif;
				font-size: medium;
			}
			

			.airportFlights {
				font-family: 'Inconsolata',sans-serif;
				font-size: x-small;
			}

			.whiteongreen {
				color: white;
				background-color: green;
				background-image: none;

			}

			.errorText {
				font-family 'Inconsolata','sans-serif';
				font-size: medium;
				color: red;
			}
			



