			

			.toptitle-text {
				background-color: blue;
				color: white;
				font-family: 'Cinzel',sans-serif;
				font-size: small;
			}
	
			.weatherDisplay {

				font-family: 'Arimo',sans-serif;
				font-size: medium;
			}

			.fidsDisplay {
				font-family: 'Arimo',sans-serif;
<<<<<<< HEAD
	                        font-size: small;
=======
	                        font-size: x-small;
>>>>>>> f45c3c9773658c3e00ad594e3ea047df5ad21107

			}

			.airportTitle {
				font-family: 'Inconsolata',sans-serif;
				font-size: medium;
			}
			

			.airportFlights {
				font-family: 'Inconsolata',sans-serif;
				font-size: x-small;
			}

<<<<<<< HEAD
=======
			.airportTracks {
				font-family: 'Inconsolata',sans-serif;
				fonnt-size: x-small;

>>>>>>> f45c3c9773658c3e00ad594e3ea047df5ad21107
			.whiteongreen {
				color: white;
				background-color: green;
				background-image: none;

			}

<<<<<<< HEAD
=======
			.whiteonred {
				color: white;
				background-color: red;
				background-image: none;
			}

>>>>>>> f45c3c9773658c3e00ad594e3ea047df5ad21107
			.errorText {
				font-family 'Inconsolata','sans-serif';
				font-size: medium;
				color: red;
			}
			
<<<<<<< HEAD
			.departuresFidsTable {
				font-size: small;
				font-family: 'Arimo',sans-serif;
				color:#333333;
				width:100%;
				border-width: 1px;
				border-color: #729ea5;
				border-collapse: collapse;
=======
			.footerText {
				font-family 'Inconsolata','sans-serif';
                                font-size: small;
                                color: black;
			}

			.trafficDisplay {
				font-family 'Inconsolata','sans-serif';
                                font-size: medium;
                                color: black;
>>>>>>> f45c3c9773658c3e00ad594e3ea047df5ad21107
			}

			.departuresFidsTable th {
				background-color:#acc8cc;
				border-width: 1px;
				padding: 8px;
				border-style: solid;
				border-color: #729ea5;
				text-align:left;
			}

			.departuresFidsTable tr {
				background-color:#ffffff;
			}

			.departuresFidsTable td {
				border-width: 1px;
				padding: 8px;
				border-style: solid;
				border-color: #729ea5;
			}

			.departuresfidsTable tr :hover {background-color:#ffff99;}
