			.toptitle-text {
				background-color: blue;
				color: white;
				font-family: 'Cinzel',sans-serif;
				font-size: small;
			}
	
			.weatherDisplay {

				font-family: 'Inconsolata',sans-serif;
				font-size: medium;
			}

			.fidsDisplay {
				font-family: 'Inconsolata',sans-serif;
	                        font-size: small;
			}

			.airportTitle {
				font-family: 'Inconsolata',sans-serif;
				font-size: medium;
			}
			

			.airportFlights {
				font-family: 'Inconsolata',sans-serif;
				font-size: small;
			}

			.airportTracks {
				font-family: 'Inconsolata',sans-serif;
				font-size: x-small;
			}

			.errorText {
				font-family 'Inconsolata','sans-serif';
				font-size: medium;
				color: red;
			}
			
			.footerText {
				font-family 'Inconsolata','sans-serif';
                                font-size: small;
                                color: black;
			}

			.trafficDisplay {
				font-family 'Inconsolata','sans-serif';
                                font-size: small;
                                color: black;
			}
			
			table {
				font-family 'Inconsolata','sans-serif';
                                font-size: medium;
                                color: black;
				border-width: 1px;
				padding: 2px; 
				border-style: solid;
				border-color: #a9c6c9;
			 } 
